#advertisements{
    display: grid;
    grid-template-columns: 1fr;
    
    @include lg{
        ul{
            list-style: none;
            display:flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            justify-content: space-evenly;
        }
    }
   #hundredmaterials{
    h1{
    text-align: center;
    }
    a{
        h3{
            text-align: center;
        }
        
    }
    img{
        width: 100%;
    }
}
#awardwinning{
    h1{
        display: flex;
        flex-direction: row;
    }
    img{
        width: 50%;
    }
}
#Backers{
    h2{
        text-align: center;
    }
}
    #backer{
            list-style: none;
            justify-content: space-between;
            justify-content: space-evenly;
    }

    img{
        width: 40%;
    }

}
