#advertisements{
    display: grid;
    grid-template-columns: 1fr;
    
    @include lg{
        h1{
            text-align: center;
        }
        ul{
            list-style: none;
            display:flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            justify-content: space-evenly;
        }
    }
   #hundredmaterials{
    h1{
    text-align: right;
    font-size: 40px;
    position: absolute;
    z-index: 1;
    right: 0;
    
    }
    img{
        width: 100%;
        position: relative;
        z-index: 0;
    }
}
#awardwinning{
    h1{
        display: flex;
        flex-direction: row;
    }
    img{
        width: 50%;
    }
}
#Backers{
    h2{
        text-align: center;
    }
}
    #backer{
            list-style: none;
            justify-content: space-between;
            justify-content: space-evenly;
    }

    img{
        width: 75%;
    }

}
