#bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "img txt";

    picture{
        grid-area: img;
        text-align: center;
        
        
    }
    #future{
        grid-area: txt;
       h1{
        text-align: left;
        font-size: 36px;

    }
    a{
        text-align: left;
        font-size: 13px;
    } 
    }
    
    @include lg{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "img"
        "txt";
        
        picture{
            width: 100%;
            margin: 0;
            padding: 0;
        }
        #future{

          h1{
            font-size: 128px;
            text-align: center;
            margin-top: -100px;
        }
        a{
            font-size: 32px;
            text-align: center;
        }  
        }
        
    }
}