#bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "img txt";

    picture{
        grid-area: img;
        text-align: center;
        
    }
    h2{
        grid-area: txt;
        text-align: left;
        font-size: 36px;

    }
    a{
        grid-area: txt;
        text-align: left;
        font-size: 13px;
    }
    @include lg{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "img"
        "txt";

        h2{
            font-size: 128px;
            text-align: center;
        }
        a{
            font-size: 32px;
            text-align: right;
        }
    }
}