#bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;

    h2{
        display: flex;
        flex-direction: row;
    }
    button{
        display: flex;
        flex-direction: row;
    }
    picture{
        align-items: center;
    }
}