#features{

    @include lg{
        grid-template-columns: 3fr;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        grid-template-areas: 
        "cooling refined faster";
    }

   #COOLING {
    background-color: #95D0DD;
    width: fit-content;
    list-style: none;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 40px ;
    grid-area: cooling;
    h2{
        color: white;
              padding-bottom: 73px ;
    }
    p{
        color: white;
        padding-bottom:27px;
    }
}
#REFINEDCUT {
    background-color: #95D0DD;
    list-style: none;
    width: fit-content;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 40px ;
    justify-content: center;
    grid-area: refined;
    h2{
        color: white;
        padding-bottom: 73px ;
    }
    p{
        color: white;
        padding-bottom:27px;
    }
}
#Faster {
    background-color: #95D0DD;
    list-style: none;
    width: fit-content;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 40px ;
    grid-area: faster;
h2{
    color: white;
    padding-bottom: 73px ;
}
p{
    color: white;
    padding-bottom:27px;
}
} 
}
