#features{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 64px;
    margin-left: 100px;
    margin-right: 100px;
    grid-template-areas: 
    "title"
    "cooling"
    "refine"
    "faster";

    @include lg{
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-evenly;
        grid-template-areas: 
        "title title title"
        "cooling refined faster";
    }

    h1{
        text-align: center;
        grid-area: title;
    }

   #COOLING {
    background-color: #95D0DD;
    list-style: none;

    grid-area: cooling;
    h2{
        color: white;
        text-align: center;
              padding-bottom: 73px ;
    }
    p{
        color: white;
        padding-bottom:27px;
        text-align: center;
    }
    img{
        align-items: center;
    }
}
#REFINEDCUT {
    background-color: #95D0DD;
    list-style: none;
    justify-content: center;
    grid-area: refined;
    h2{
        color: white;
        text-align: center;
        padding-bottom: 73px ;
        text-align: center;
    }
    p{
        color: white;
        padding-bottom:27px;
        text-align: center;
    }
    img{
        align-items: center;
    }
}
#Faster {
    background-color: #95D0DD;
    list-style: none;
    grid-area: faster;
h2{
    color: white;
    text-align: center;
    padding-bottom: 73px ;
}
p{
    color: white;
    padding-bottom:27px;
    text-align: center;
}
img{
    align-items: center;
}
} 
}
