.footer{
    display: grid;
    grid-template-columns: 1fr;
    background-color: black;
    
    @include lg{
        grid-template-columns: 3fr;
        grid-template-areas: 
        "first second third";
    }
    #first{    
    ul{
        grid-area: first;
     button{
            color: white;
        }   
    } 
    }
    #second{
        ul{
             grid-area: second;
             color: white;
         h5{
                color: white;
            }   
        } 
        }
        #third{
            grid-area: third;
            ul{
                display: flex;
                flex-direction: row;
                
            h5{
                   color: white;
               }   
           } 
           }
        }
