#header{
  display: grid;
  background-color: black;
    #burgercontainer{
        

    }
   #headernotes{
        list-style: none;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
        border-radius: none;
        
        a{
            border-radius: none;
            color: white;

            h4{
                text-underline-position: under;
            }
            img{
                border-radius: none;
            }
        }
    }

}