#reviews02{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "title"
    "userreviews"
    "bottombutton" ;
    margin-bottom: 78px;
    h2{
        grid-area: title;
        color: black;
        text-align: center;
        margin-bottom: 24px;
        margin-top: 93px ;
    }
    #users{
        grid-area: userreviews;
        background-color: black;
        background-size: contain;
        text-align: center;
        margin-left: 16px;
        margin-right: 16px;
        width: 358px;
        height: 251px;
        #content{
            border-color: white;
             h4{
            text-align: left;
            color: white;
            font-size: 12px;
        }
        p{
            font-size: 7px;
            text-align: left;
            color: white;
        }
        img{
            width: 25%;
        }
    }
    a{
        grid-area: bottombutton;
        color: black;
        text-align: center;
    }
        }
       
    @include lg{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "title"
        "userreviews"
        "bottombutton";
    }
}